.vscode/
__pycache__/
dataset/
captured_frames/
preprocess/
*.zip
*.pt
*.c
*.txt
args.yaml
lego_detection/
lego_detection_1/
lego_detection_2/
lego_detection_3/
lego_detection_4/
lego_detection_5/
client/
room.png
test_yolo.py
client.py